#grid {
    display: grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: repeat(7, 70px);
    gap: 0px;
    margin: 0 auto;
}

.cell {
    width: 70px;
    height: 70px;
    border: 3px solid #333;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    font-size: 0; /* previene che il contenuto testo interno influisca */
}

.cell::after {
    content: "👑";
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.cell.active::after {
    display: block;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* sfondo */
    background-image: url('/static/bg.jpg');
    background-size: cover;       /* riempie tutto lo schermo */
    background-position: center;  /* centra l’immagine */
    background-repeat: no-repeat; /* non ripete l’immagine */
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 42px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
    text-shadow: 2px 2px 0 #fff; /* ombra delicata per risaltare */
}

.cell.blocked::after {
    content: "X";
    font-weight: bold;
    font-size: 32px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    pointer-events: none;
    z-index: 3;
}

.cell.active::after {
    content: "👑";
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 2;
}

.region0 { background: #FF8C42; }
.region1 { background: #FFFFFF; }
.region2 { background: #3454D1; }
.region3 { background: #FF69B4; }
.region4 { background: #A5D0A8; }
.region5 { background: #FFF275; }
.region6 { background: #97F9F9; }
