#grid {
    display: grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: repeat(7, 70px);
    gap: 2px;
    margin: 0 auto;
}

.cell {
    width: 60px;
    height: 60px;
    border: 3px solid #333;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
}

.cell::after {
    content: "❤️";
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.cell.active::after {
    display: block;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
} */

h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 38px;
    text-align: center;
    margin-bottom: 20px;
    color: #d6336c;          
    text-shadow: 2px 2px 0 #fff;
}

.cell.blocked::after {
    content: "❌";
    font-size: 32px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.cell.active::after {
    display: block;
    z-index: 2;
}

.cell.blocked::after {
    z-index: 1;
}

.region0 { background: #FF8C42; }
.region1 { background: #FFFFFF; }
.region2 { background: #3454D1; }
.region3 { background: #FF69B4; }
.region4 { background: #A5D0A8; }
.region5 { background: #FFF275; }
.region6 { background: #97F9F9; }
